## .NET
bin/
obj/
*.db
*.user
*.suo
*.cache
*.dll
*.pdb
*.db
*.db-shm
*.db-wal

## Angular
client-app/node_modules/
node_modules/
dist/
.angular/

## Build output
**/wwwroot/

## Config
appsettings.Development.json

## IDE
.idea/
.vscode/
*.swp
*.swo
