## .NET
bin/
obj/
*.user
*.suo
*.db
*.db-shm
*.db-wal

## Node
node_modules/
dist/
.angular/

## IDE
.vs/
.vscode/
.idea/

## OS
.DS_Store
Thumbs.db

## wwwroot (built by Angular)
src/InventoryService.Api/wwwroot/
