## .NET
bin/
obj/
*.db
*.user
*.suo
*.cache
.vs/

## Node
node_modules/
dist/
.angular/

## Build output
**/wwwroot/

## Config
appsettings.Development.json

## IDE
.idea/
.vscode/
*.swp

## OS
.DS_Store
Thumbs.db
